var config = {};

config.twitter = {
  consumer_key: '',
  consumer_secret: '',
  access_token_key: '',
  access_token_secret: ''
};

config.history = 10;
config.search  = '';

config.debug   = null;

module.exports = config;

